<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="test">

    <select id="findAllUsers" resultType="com.deepcloud.been.User">
        SELECT * FROM user;
    </select>
    <select id="aUser" parameterType="String" resultType="com.deepcloud.been.User">
        SELECT * FROM user WHERE userName = #{userName};
    </select>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM user WHERE userName = #{userName};
    </delete>
    <update id="updateUser">
        UPDATE user SET userPassword=#{userPassword} WHERE userName=#{userName};
    </update>
    <insert id="insertUser">
        INSERT INTO user(userName
                        ,userPassword
                        ,isManage)
                    VALUES (
                            #{user.userName}
                          , #{user.userPassword}
                          , #{user.isManager}
                    )
    </insert>


</mapper>